* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url("../assets/slider-right-dec.jpg");
  background-size: cover;
}
header {
  box-shadow: 0px 3px 5px rgb(226, 223, 223);
}
header .level-left {
  font-size: 25px;
}
header .level-left a {
  color: black;
}
header .level-left:hover {
  cursor: pointer;
}
header .level-center .title {
  font-size: 2.3rem;
}
header .level-center .subtitle {
  font-size: 1.1rem;
}
header i {
  position: relative;
}
header i:hover {
  color: red;
}
header .level-right {
  margin-left: -10%;
}
header .level-right .navbar-item {
  font-size: 1.2rem;
  margin: 0 5%;
}
header .level-right .navbar-item:hover {
  background-color: white;
  color: red;
  transition: 0.3s;
}
main .level-item p:hover {
  color: red;
  transition: 0.3s;
}
main .level-item a p {
  font-size: 1rem;
  color: black;
}
main .list .card {
  margin: 2% 5%;
}
main .list .top-content p {
  font-size: 1.4rem;
}
main .list .top-content p i {
  font-size: 2rem;
  color: rgb(129, 212, 129);
}
main .list .top-content p i:hover {
  cursor: pointer;
}
main .list .card .header .subtitle {
  margin-left: 8.5%;
  margin-top: -0.5%;
  font-size: 1.1rem;
  font-weight: 500;
}
main .list .card-content .content .subtitle {
  margin-left: 7%;
  font-size: 1.2rem;
  font-weight: 100;
}
main .list .card-content .content .time {
  margin-right: 5%;
}
main .card-footer-item {
  font-size: 1.3rem;
}
.center {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
.center button {
  border-radius: 4rem;
  font-size: 1.4rem;
}
@media screen and (max-width: 760px) {
  header .level-left .fa-long-arrow-alt-left {
    position: absolute;
    top: 30px;
    left: 15px;
  }
  header .level-right .fa-bars {
    position: absolute;
    top: 30px;
    right: 15px;
  }
  header .level-center .title {
    font-size: 1.6rem;
  }
  header .level-center .subtitle {
    font-size: 1rem;
  }
  main .level {
    display: flex;
    justify-content: center;
  }
  main .level-item {
    padding: 0 2%;
  }
  main .level-item .date {
    margin-bottom: 16px;
  }
}
#friends {
  height: 100vh;
}
#friends header .level-right {
  margin-left: -5%;
}
#friends .list .card {
  margin: 2% 10%;
}
#friends main .content .left {
  width: 20%;
  align-items: center;
  font-size: 2rem;
}
#friends main .content .left p {
  font-size: 1.5rem;
  font-weight: 400;
}
#friends main .content .icons {
  padding: 0 5%;
}
#friends main .content .icons a {
  padding: 0 40%;
  font-size: 1.3rem;
  color: black;
}
#friends main .content .icons a:hover {
  font-size: 1.5rem;
  color: red;
  transition: 0.3s;
}
