* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url("../assets/slider-right-dec.jpg");
}
header {
  box-shadow: 0px 3px 5px rgb(226, 223, 223);
}
header .level-left {
  font-size: 25px;
}
header .level-left a {
  color: black;
}
header .level-left:hover {
  cursor: pointer;
}
header .level-center .title {
  font-size: 2.3rem;
}
header .level-center .subtitle {
  font-size: 1.1rem;
}
header i {
  position: relative;
}
header i:hover {
  color: red;
}
header .level-right {
  margin-left: -10%;
}
header .level-right .navbar-item {
  font-size: 1.2rem;
  margin: 0 5%;
}
header .level-right .navbar-item:hover {
  background-color: white;
  color: red;
  transition: 0.3s;
}
main .panel {
  box-shadow: none;
}
main .panel .tabs ul li {
  padding: 0 3%;
}
main .panel .tabs ul li a {
  font-size: 1.2rem;
}
main .panel .tabs .is-active a {
  color: red;
}
main .list .card {
  width: 100%;
}
main .list .top-content p {
  font-size: 1.4rem;
}
main .list .top-content p i {
  font-size: 2rem;
  color: rgb(129, 212, 129);
}
main .list .top-content p i:hover {
  cursor: pointer;
}
main .list .card .header .subtitle {
  margin-left: 8.5%;
  margin-top: -0.5%;
  font-size: 1.1rem;
  font-weight: 500;
}
main .list .card-content .content .subtitle {
  margin-left: 7%;
  font-size: 1.2rem;
  font-weight: 100;
}
main .list .card-content .content .time {
  margin-right: 5%;
}
main .card-footer-item {
  font-size: 1.3rem;
}
.center {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
.center button {
  border-radius: 4rem;
  font-size: 1.4rem;
}
@media screen and (max-width: 800px) {
  header .level-left .fa-long-arrow-alt-left {
    position: absolute;
    top: 30px;
    left: 15px;
  }
  header .level-right {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  header .level-center .title {
    font-size: 1.4rem;
  }
  header .level-center .subtitle {
    font-size: 1rem;
  }
  main .panel .tabs ul li {
    padding: 0;
  }
  main .panel .tabs ul li a {
    font-size: 10px;
  }
  main .list .top-content p {
    font-size: 1rem;
  }
  main .list .top-content p i {
    font-size: 1rem;
  }
  main .list .card .header .subtitle {
    margin-left: 25%;
    margin-top: -0.5%;
    font-size: 0.7rem;
  }
  main .list .card-content .content .subtitle {
    margin-left: 7%;
    font-size: 1rem;
  }
  main .card-footer-item {
    font-size: 1rem;
  }
  .center {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
  }
  .center button {
    border-radius: 4rem;
    font-size: 1rem;
  }
}
#friends {
  height: 100vh;
}
#friends header .level-right {
  margin-left: -5%;
}
#friends .list .card {
  margin: 2% 10%;
  width: 80%;
}
#friends main .content .left {
  width: 20%;
  align-items: center;
  font-size: 2rem;
}
#friends main .content .left p {
  font-size: 1.5rem;
  font-weight: 400;
}
#friends main .content .icons {
  padding: 0 5%;
}
#friends main .content .icons a {
  padding: 0 40%;
  font-size: 1.3rem;
  color: black;
}
#friends main .content .icons a:hover {
  font-size: 1.5rem;
  color: red;
  transition: 0.3s;
}
@media screen and (max-width: 800px) {
  #friends header .level-left .fa-long-arrow-alt-left {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 1.3rem;
  }
  #friends header .level-right {
    position: absolute;
    top: 0;
    right: 15px;
  }
  #friends .list .card {
    margin: 2% 5%;
    width: 90%;
  }
  #friends main .content .left {
    width: 100%;
    align-items: center;
    font-size: 1rem;
  }
  #friends main .content .left p {
    font-size: 1rem;
  }
  #friends main .content .icons {
    padding: 0 10%;
  }
  #friends main .content .icons a {
    padding: 0 40%;
    font-size: 1rem;
  }
  #friends main .content .icons a:hover {
    font-size: 1.2rem;
  }
}
