<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../css/welcome.css">
    <title>Welcome | Task it</title>
</head>
<body>
  <div id="app">
    <main>
        <div class="container is-flex">
            <div class="left-side is-flex-direction-column has-text-centered mt-6">
                <h1 class="title">Task it!</h1>
                <img src="../assets/jan-kahanek-g3O5ZtRk2E4-unsplash.jpg" alt="Welcome">
            </div>
              <div class="card">
                <form @submit.prevent="handleSubmit">
                  <h1 class="title has-text-centered pt-4">Sign In</h1>
                  <div class="card-content">
                  <div class="content">
                        <div class="field">
                          <label class="label">Email</label>
                          <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" placeholder="Email Address" required v-model="returningUser.email">
                            <span class="icon is-small is-left">
                              <i class="fa-solid fa-envelope"></i>
                            </span>
                          </div>
                        </div>
                        
                        <div class="field">
                          <label class="label">Password</label>
                          <div class="control has-icons-left has-icons-right">
                            <input class="input" type="password" placeholder="Password" required v-model="returningUser.password">
                            <span class="icon is-small is-left">
                              <i class="fa-solid fa-lock"></i>
                            </span>
                          </div>
                        </div>
                        
                        <div class="field is-grouped is-flex is-justify-content-center submit">
                          <div class="control">
                            <button class="button is-link">Sign In</button>
                          </div>
                        </div>
                  </div>
                  </div>
              </form>
              <hr>
              <div class="bottom-content has-text-centered">
                <h4>Don't have an account? </h4>
                <a href="Register.html">Register</a>
              </div>
            </div>
        </div>
    </main>
  </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
    Vue.createApp({
        data() {
            return {
                users: [
                    { firstName: "Johnny", lastName: "Tejada", email: "johnnyfran20002@gmail.com", password: "12345"},
                    { firstName: "Joe", lastName: "Biden", email: "joeBiden2022@gmail.com", password: "12345"}
                ],
                returningUser: {
                    email: "",
                    password: "",
                }
            }
        },
        methods: {
            handleSubmit(){
                if(this.returningUser){
                    let hasAccount = false;
                    this.users.map(user =>{
                      if(user.email === this.returningUser.email && user.password === this.returningUser.password){
                        hasAccount = true
                      }
                    })

                    if(hasAccount){
                      this.returningUser.email = "";
                      this.returningUser.password = "";
                      console.log("Logged in");
                    }
                    else{
                      alert("Account not found")
                    }
                }
            }
        },
    }).mount('#app')
    </script>
</body>
</html>